<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="authKey" value="258650AWFbDmTLr5c4ee68d"/>
    <add key="senderId" value="ANANTM"/>
    <add key="sendSMSUri" value="http://smsindia.itworldindia.com/api/sendhttp.php"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AnantMatrimony-a3d61dc0-9ba2-4c04-ade7-73c29ef56ccb;AttachDbFilename=|DataDirectory|\aspnet-AnantMatrimony-a3d61dc0-9ba2-4c04-ade7-73c29ef56ccb.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <!--<add name="nsconn" connectionString="Data Source=132.148.148.168;Initial Catalog=kankukanya_anantmatrimonial;User Id=kankukanya_164;Password=Changeme@123;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="nsconn" connectionString="Data Source=167.88.3.210;Initial Catalog=kankukanya_anantmatrimonial;User Id=kankukanya_164;Password=Changeme@123;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="nsconn" connectionString="Data Source=132.148.148.168;Initial Catalog=anantmatrimonial;User Id=anant_matrimony;Password=Changeme@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="nsconn" connectionString="Data Source=DESKTOP-BSJTMDV\SQLEXPRESS;Initial Catalog=anantmatrimonial;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="nsconn" connectionString="Data Source=103.211.216.103;Initial Catalog=anantbx9_anantmatrimonial;User Id=anant_matrimony;Password=Changeme@123;" providerName="System.Data.SqlClient"/>-->
    <add name="nsconn" connectionString="Data Source=103.138.96.8;Initial Catalog=admin_anantmatrimony;User Id=anantmatrimony;Password=Changeme@123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
      <add name="WebResource" path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader"/>
    </handlers>
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.5" defaultLanguage="c#" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" enableViewStateMac="False">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" cookieless="AutoDetect" timeout="240000">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <machineKey validationKey="2F421217A7FD44C8642D96251BC809480E2A8B901B41D0899E2D008FBB1EB409375468556FEF9866A2C83F714B52647CEC1E4478E6EDC3A38719241246A42160" decryptionKey="29399AC170460F256053E193808C6DC218E6B23B65B08A5A" validation="SHA1" decryption="AES"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>